body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 1em;

  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.auth-box {
  margin-top: 100px;
  border-radius: 1em;
  border: black solid 1px;
  background: white;
  padding: 2em;
}
.login-form {
  margin-top: 2em;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.form-header-text {
  text-align: center;
}
